<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Motionlab Global Meteor Network</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h2>Motionlab Global Meteor Network </h2>
<div class="container">
  <div class="form-row mb-3">
    <div class="input-group col-sm-8">
        <div class="input-group-prepend">
        </div>
    </div>
  </div>

  <table id="jds-example" class="table">
    <thead>
        <tr>
            {% for col in data.columns %}
            <th scope="col"> {{ col }}</th>
                {% endfor %}
        </tr>
    </thead>
    <tbody>
            {% for key, value in data.iterrows() %}
        <tr>
                {% for k in value %}
            <td scope="row">{{ k }}</td>
                {% endfor %}
        </tr>
            {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
