{% include 'header.html' %}

      <a href="{{ links.month_to_last_year}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.year}}
      <a href="{{ links.month_to_next_year}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
      /
      <a href="{{ links.month_to_last_month}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.month_name}}
      <a href="{{ links.month_to_next_month}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
    </p>
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" target="_blub" href="https://github.com/CroatianMeteorNetwork/RMS">Github</a>
      <a class="p-2 text-dark" target="_blub" href="https://globalmeteornetwork.org">Project</a>
      <a class="p-2 text-dark" target="_blub" href="https://globalmeteornetwork.org/data/">Data</a>
    </nav>
    <a class="btn btn-outline-primary" target="_blub" href="https://docs.google.com/document/d/18TT-Jm7z9kYskl5ua07jQWD91OiyBemBnOosiNdW6nY/edit">Make your own</a>
  </header>

  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ vars.month_name}} {{ vars.year}}</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left  ">Date          </th>
          <th class="text-center">Sunset        </th>
          <th class="text-center">Sunrise       </th>
          <th class="text-center">Meteor Count  </th>
          <th class="text-center">Stacked       </th>
          <th class="text-center">Keogram       </th>
          <th class="text-center">Fieldsum noavg</th>
          <th class="text-center">Fieldsum      </th>
          <th class="text-center">Captured      </th>
          <th class="text-center">Detected      </th>
          <th class="text-center">Timelapse     </th>
        </tr>
      </thead>

      <tbody>

        {% for d in monthinfo %}

        <tr>
          <td class="align-middle">             {{ d.number}}.                        </td>
          <td class="text-center align-middle"> {{ d.sunset.strftime('%H:%M:%S') }}   </td>
          <td class="text-center align-middle"> {{ d.sunrise.strftime('%H:%M:%S') }}  </td>
          <td class="text-center align-middle"> {{ d.meteor_count }}                  </td>

          <td class="text-center align-middle"> <a href="{{ d.stacked }}" target="_blub">
            <img src="{{ d.stacked }}" alt="stacked" width=300 class="img-thumbnail"></a>
          </td>
          
          <td class="text-center align-middle"> <a href="{{ d.keogram }}" target="_blub">
            <img src="{{ d.keogram }}" alt="keogram" width=300 class="img-thumbnail"></a>
          </td>

          <td class="text-center align-middle"> <a href="{{ d.fieldsum_noavg }}" target="_blub">
            <img src="{{ d.fieldsum_noavg }}" alt="fieldsum_noavg" width=300 class="img-thumbnail"></a>
          </td>

          <td class="text-center align-middle"> <a href="{{ d.fieldsum }}" target="_blub">
            <img src="{{ d.fieldsum }}" alt="fieldsum" width=300 class="img-thumbnail"></a>
          </td>

          <td class="text-center align-middle"> <a href="{{ d.captured }}" target="_blub">
            <img src="{{ d.captured }}" alt="captured" width=50 class="img-thumbnail"></a>
          </td>

          <td class="text-center align-middle"> <a href="{{ d.detected }}" target="_blub">
            <img src="{{ d.detected }}" alt="detected" width=500 class="img-thumbnail"></a>
          </td>

          <td class="text-center align-middle"><a href="{{ d.timelapse }}" target="_blub">
            <img src="{{ vars.iconpath }}/ondemand_video-24px.svg" alt="keogram" height=100 class="img-thumbnail"></a>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

    {% include "footer.html" %} 
